service cloud.firestore {
  match /databases/{database}/documents {
    match /Submissions/{Submission} {
      allow write: if request.auth != null;
      allow read: if request.auth.uid == "Sdg6vjfAerUd1v6K5MdiPoopOKu1";
    }
    match /Chants/{chant} {
    	allow write: if false;
      allow read: if true;
    }
  }
}
