@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
    .logout_icon_wrapper_sm {
        width: 1.25rem !important;
        height: 1.25rem !important;
    }
}

.hover\:bg-sky-400:hover {
    background-color: #38bdf8 !important;
}

.hover\:bg-sky-500:hover {
    background-color: #0ea5e9 !important;
}